.outlined-btn {
    border: 1px solid grey;
    color: black;
    text-align: center;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0rem 1rem;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    min-width: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.outlined-btn:hover{
    cursor: pointer;
    background: whitesmoke;
}

.elevated-btn{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0rem 1rem;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.elevated-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    cursor: pointer;
    background-color: whitesmoke;
}

.filled-btn{
    border: none;
    outline: none;
    background: lightblue;
    color: black;
    border-radius: 30px;
    padding: 10px;
    margin: 0rem 1rem;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    min-width: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.filled-btn:hover{
    cursor: pointer;
    background: skyblue;
}

.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.float-btn{
    border: none;
    background: skyblue;
    color: black;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    transition: 0.3s;
    margin: 0rem 1rem;
}
.float-btn:hover{
    cursor: pointer;
    background: lightblue;
}