.App {
  margin: -1rem 1rem 0rem;
}
.nav{
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: larger;
  border: 1px solid transparent; 
  box-shadow: 0 4px 2px -2px lightgray 
}
.navv{
  text-decoration: none;
  font-size: larger;
  color: darkslateblue;
  font-weight: 800;
  padding: 0.4rem 1rem;
}
.navv:hover{
  color: darkblue;
  background-color:skyblue;
  border-radius: 2rem;
}
.input{
  font-size: 1rem;
  padding: 0.4rem;
  width: 16rem;
  border-radius: 1rem;
}
.sidebar{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.2rem;
  font-size: 1.5rem;
  border-right: 2px solid black;
}