.home-main{
    text-align: center;
}
.home-h1{
    font-size: 4rem;
    background: linear-gradient(to left, skyblue, blue, violet, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}
.home-btn{
    text-decoration: none;
    font-size: x-large;
    padding: 0.5rem 2rem;
    color: whitesmoke;
    border-radius: 2rem;
    background-color: blue;
    font-style: italic;
}